body, html{
    padding: 2rem;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

h1{
  .cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  font-style: normal;
}
}

h2{
  .nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}
}


h3{
  font-family: sans-serif;
  font-weight: bold;
}

p{
  font-family: sans-serif;
  font-weight: 400;
  max-width: 60rem; 
  line-height: 2em; 
  margin: 0 auto;

}


section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #b71c1c; 
}

a:hover {
  color: #e57373; 
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color:#ffcdd2fa;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #d32f2f;
}

header {
  display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1.25rem;
}

.logo-name{
  width: 10rem;
}

/* Nav styling */
.nav-container {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    gap: 2rem;
  }
  
  .nav-link {
    font-family: sans-serif;
      color: grey;
      text-decoration: none;
      font-size: 1em;
      font-weight: lighter;
      transition: color 0.3s ease;
      margin-left: 3rem;
  }
  
  .nav-link:hover {
    color: red;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: red;
  }

  /* Cards */
.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.profile-pic {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin-bottom: 20px;
}

